!!! 5
html(lang='en')
  head
    link(rel='stylesheet', href='/stylesheets/main-min.css')

    body
      header#topbar
        .ink-container
          nav.ink-navigation.ink-collapsible
            ul.horizontal.menu.blue.flat
              li
                #tideLogo
                  i.icon-tint(style='color: #FFF')
                  strong Te Tides
              li.active: a(href='#') Home
              li: a(href='/about') About
              li: a(href='#') Developers
              li: a(href='#') Contact
        .hr
        .ink-container
          .ink-l80
            h1#title Te Tides
            p#titleLead Providing you with today's tides for all major harbours and marine centres throughout New Zealand. Pretty choice eh!
          .ink-l20.center.ink-for-l
            i.icon-tint.icon-title

      #mainContent.ink-container
        .ink-row.ink-vspace
          .ink-l33
            .ink-gutter
              i.icon-tint(style='font-size: 60px')
              h3 Tides
              p Find today's tides for your local area in an easy to read, human format
          .ink-l33
            .ink-gutter
              i.icon-umbrella(style='font-size: 60px')
              h3 Weather
              p
                | Get an up to date weather report so you know whether it's worth leaving the house
          .ink-l33
            .ink-gutter
              i.icon-wrench(style='font-size: 60px')
              h3 API
              p The complete tide data available in several formats (CSV, JSON) via a simple and free API  
        .ink-section.well
          h3.ink-vspace Select a port to view todays tides
          .ink-l25
            h6 Upper North Island
            ul.unstyled
              li: a(href='/Auckland') Auckland
              li: a(href='/MarsdenPoint') Marsden Point
              li: a(href='/Onehunga') Onehunga
              li: a(href='/Tauranga') Tauranga
          .ink-l25
            h6 Lower North Island
            ul.unstyled
              li: a(href='/Wellington') Wellington
              li: a(href='/Taranaki') Taranaki
              li: a(href='/Gisborne') Gisborne
              li: a(href='/Napier') Napier
          .ink-l25
            h6 Upper South Island
            ul.unstyled
              li: a(href='/Nelson') Nelson
              li: a(href='/Lyttleton') Lyttleton
              li: a(href='/Westport') Westport
              li: a(href='/Picton') Picton
          .ink-l25
            h6 Lower South Island
            ul.unstyled
              li: a(href='/Bluff') Bluff
              li: a(href='/Timaru') Timaru
              li: a(href='/PortChalmers') Port Chalmers
              li: a(href='/Dunedin') Dunedin

        .ink-l100
          p.note.disclaimer
            b Disclaimer:
            |  The tide predictions on this website are not official tide tables as specified in Maritime Rules Part 25 Nautical Charts and Publications (pursuant to Section 36 of the Maritime Transport Act 1994).
    footer#footer
      .ink-container
        p.copyright
          | All rights reserved.
          | Kiwi Tides by James Mitchell

    script(async src='/javascripts/Ink-v1.js')


